#
# $Id: admin_brsux156_gib.cfg,v 1.8 2012/10/04 12:50:02 vgambhir Exp $
#

!include $(OPENBETRELEASE)/conf/global_func.cfg
!include $(OPENBETRELEASE)/admin/admin_base.cfg
!include $(OPENBETRELEASE)/admin/admin_mkt_props.cfg
!include $(OPENBETRELEASE)/conf/env/gibraltar.cfg
!include $(OB)/setup/conf/docker.cfg
!include $(OPENBETRELEASE)/conf/env/box_specific/core-office_brsux156_gib.cfg

#
# Application server configuration
#
PORTS                = 10101
PROCS_PER_PORT       = 5

#
# Logging
#
LOG_DIR              = /opt/openbet/log/admin/
LOG_FILE             = admin.log_gib.%Y%m%d_%H
LOG_ROTATION = HOUR

#
# Relocatable project settings - these are used if relocatable is true
#
CGI_URL              = /admin_gib
DBV_URL              = /dbv_gib
APPLET_URL           = /monitor_gib
USE_STL_ENGINE       = 1
AUTOSETTLER_URL      = /stlengine_gib
STL_ENGINE_URL       = http://proxy.williamhill-test.local/stlengine_gib

# TCL_SCRIPTS must be overridden in the base config for uncompiled

OFFICE_STATIC_URL    = /ob_gib/static/office

TCL_COMPILED = 1


LICENSE_KEY = 3085490d6ee8b7e0597d0f8519fec0e234fdc1c0e5a46785


TCL_SCRIPTS     =              \
	init.tbc                   \
	prefs.tbc                  \
	db.tbc                     \
	util.tbc                   \
	xgame_init.tbc             \
	mcs_http.tbc               \
	shared_tcl/messages.tbc    \
	shared_tcl/fraud_check.tbc \
	shared_tcl/util.tbc \
	shared_tcl/util/validate.tbc

MONITOR_SERVERS             = host 10.1.29.87 port 10200
MONITOR_PORTAL_URL          = https://backoffice.williamhill-test.local/monitor_gib

# Set background colour of left hand menu
#
ALT_MENU_STYLE = #ADEAEA

# Autosettler listening port
AUTOSETTLE_PORT     = 10102

PS_TEMPLATE_DIR     =  $(OPENBETRELEASE)/telebet/statement_build/templates/willhill/

EXPIRED_PWD_REDIR_URL = /office_gib

# Openbet store directories

ONCOURSE_DIR       = /openbet_store_gib/output/oncourse
ONCOURSE_INPUT_DIR = /openbet_store_gib/input/oncourse

# Enable FOG Force Tool
IGF_TEST_OK = 1

# Test envs needs a higher dripfeed threshold
UPLOAD_DRIPFEED_MAX_QUEUE                = 5000


# UNAS Streaming Live Configs
UNAS_AUTH_KEY                = xgM5mJ1b
UNAS_PROVIDER_ID             = 13

# Enable FOG menu section
FUNC_MENU_IGF                = 1

# Single machine system: Path to files for admin + csv_upload uploads
UPLOAD_DIR            = /opt/openbet/upload

