#
#

!pragma substenv
!include $(OPENBETRELEASE)/conf/global_func.cfg
!include $(OPENBETRELEASE)/admin_ro/admin_ro_base.cfg
!include $(OPENBETRELEASE)/conf/env/gibraltar.cfg
!include $(OB)/setup/conf/docker.cfg
!include $(OPENBETRELEASE)/conf/env/box_specific/core-office_brsux156_gib.cfg

#
# Application server configuration
#
CGI_URL              = /admin_ro_gib
PORTS                = 10143
PROCS_PER_PORT       = 2
LICENSE_KEY          = d68b18616ee8b7e07f206a87fa02e933314ac32c3f762e
#
# Logging
#
LOG_DIR              = /opt/openbet/log/admin_ro/
LOG_FILE             = admin_ro.log_gib.%Y%m%d_%H

# TCL_SCRIPTS must be overridden in the base config for uncompiled

OFFICE_STATIC_URL    = /ob_gib/static/office

ADMIN_RO_STATIC_URL  = /ob/static/admin_readonly

TCL_COMPILED = 1

TCL_SCRIPTS     =              \
	init.tcl                   \
	util.tcl                   \
	shared_tcl/util.tcl \
	shared_tcl/util/validate.tcl

# Set background colour of left hand menu
#
ALT_MENU_STYLE = #EE6363

EXPIRED_PWD_REDIR_URL = /admin_ro
