# $Id: game_account_brsux156_gib.cfg,v 1.2 2011/02/18 18:25:50 cmccoy Exp $
!include /opt/openbet/current/conf/global_func.cfg
!include /opt/openbet/current/game_account/game_account_base.cfg
!include /opt/openbet/current/conf/env/gibraltar.cfg
!include /opt/openbet/current/conf/env/box_specific/core_brsux156_gib.cfg

LOG_DIR                = /opt/openbet/log/game_account/
LOG_FILE               = game_account.log_gib.%Y%m%d_%H
LOG_ROTATION           = HOUR
PORTS                  = 10166
CGI_URL                = /game_account_gib
SHARED_TCL_DIR         = tcl/shared_tcl
TCL_SCRIPTS            = init.tbc

LICENCE_KEY = 373ae0856ee8b7e0b773f012a468c68bed9fb57f70e6f2c337fc51d14a9a38
