!pragma substenv
!include $(OPENBETRELEASE)/conf/global_func.cfg
!include $(OPENBETRELEASE)/rpt/rpt_base.cfg
!include $(OPENBETRELEASE)/conf/env/gibraltar.cfg
!include $(OPENBETRELEASE)/conf/env/box_specific/core-office_brsux156_gib.cfg
!include $(OB)/setup/conf/docker.cfg

# What ports to run the application server on (space separated list)
# you must specify at least one
PORTS                = 10113
PROCS_PER_PORT       = 3

#
# Relocatable project settings - these are used if relocatable is true
#
CGI_URL              = /rpt
OFFICE_STATIC_URL    = /static/office

#
# Logging
#
LOG_FILE            = rpt.log.%Y%m%d_%H
LOG_ROTATION = HOUR
LOG_DIR             = $(OPENBETLOGDIR)/rpt

# compiled / uncompiled
TCL_SCRIPTS           = init.tcl

LICENSE_KEY = 48f99d936ee8b7e008eba55fb574462942281a914079

TEMPLATES_DIR = $(OPENBETRELEASE)/rpt/html
