#------------------------------------------------------------------------------
#
# Config options for the SOGEI Bet placement application
# Copyright Orbis Technology 2011
#-------------------------------------------------------------------------------

!pragma substenv
!include $(OPENBETRELEASE)/conf/global_func.cfg
!include $(OPENBETRELEASE)/passthrough_server/sogei_bet_base.cfg
!include $(OPENBETRELEASE)/conf/env/gibraltar.cfg
!include $(OB)/setup/conf/docker.cfg

#
# Application server configuration
#
PORTS              = 10207


TCL_SCRIPTS        = init.tcl
TCL_SCRIPT_DIR     = core/tcl
HTML_DIR           = core/html

MAIN_INIT_PROC     = passthrough::main_init
REQ_INIT_PROC      = passthrough::req_init
REQ_END_PROC       = passthrough::req_end
REQ_ERROR_PROC     = passthrough::req_error
DEFAULT_ACTION     = passthrough::H_default

BET_MODULES        = sogei sbp

# See https://sites.google.com/a/openbet.com/william-hill---italian-sportsbook/home/psqf---virtual-tags-for-test-environments
PSQF_TAG_ID = 27
