# ==============================================================
# Trading Interface (TI)
#
# $Id: ti_brsux156_gib.cfg,v 1.3.124.2 2013/08/27 09:53:21 tdaltonl Exp $
# ==============================================================
# ==============================================================

!include /opt/openbet/current/conf/global_func.cfg
!include /opt/openbet/current/conf/env/gibraltar.cfg
!include /opt/openbet/current/admin/admin_mkt_props.cfg
!include /opt/openbet/current/products/ti/cfg/ti_base.cfg
!include /opt/openbet/current/products/ti/ti_base.cfg
!include /opt/openbet/current/products/ti/wh_ti_func_base.cfg
!include /opt/openbet/current/products/ti/wh_ti_func.cfg
!include /opt/openbet/current/conf/env/box_specific/core_brsux156_gib.cfg
!include /opt/openbet/current/conf/env/box_specific/core-office_brsux156_gib.cfg


# Note: Placeholder port.
PORTS               = 10212
PROCS_PER_PORT      = 3

LICENSE_KEY          = 7da3fbfa5ca784d2fb7a2603d576718009

# Single machine system: Path to upload input files
UPLOAD_DIR           = /opt/openbet/upload

