# ==============================================================
# Trading Interface Mule (TI Mule)
#
# $Id: timule_brsux156_gib.cfg,v 1.3.44.1 2013/08/22 18:22:00 ahobsons Exp $
#
# ==============================================================
# ==============================================================

!include /opt/openbet/current/conf/global_func.cfg
!include /opt/openbet/current/conf/env/gibraltar.cfg
!include /opt/openbet/current/products/timule/timule_base.cfg
!include /opt/openbet/current/products/timule/timule_wh_base.cfg
!include /opt/openbet/current/conf/env/box_specific/core_brsux156_gib.cfg
!include /opt/openbet/current/conf/env/box_specific/core-office_brsux156_gib.cfg

PROCS_PER_PORT      = 3

LOG_FILE            = timule_gib.log.%Y%m%d
