# Details relating to the container itself
# Information specific to the host on which the container runs.
[host]
dns:
username:shazleto
password:Rh0mbu5t
resources_dir:/home/shazleto/docker_resources
docker_exectuable:sudo docker
logfile:

[build]
# Run container in privileged mode
# we need this for mounting shared
privileged:yes
