[container]
password:1ncharge
hostname:test1


# informix
[com.openbet.openbet_builder.informix]
version:12.10
build:no
remove:no
tag:no

# Appserv information
[com.openbet.openbet_builder.appserv]
build:no
remove:no
tag:no
revision:HEAD
mod_otas_revision:HEAD

# otbuild
[com.openbet.openbet_builder.otbuild]
build:no
remove:no
tag:no

# mysql
[com.openbet.openbet_builder.mysql]
build:no
openbet_password:openbet
root_password:1ncharge
remove:no
tag:no

# postgres
[com.openbet.openbet_builder.postgres]
version:9.1
build:no
remove:no
tag:no

# keystone
[com.openbet.openbet_builder.keystone_prerequisites]
build:no
remove:no
tag:no

[com.openbet.openbet_builder.keystone]
build:no
remove:no
tag:no

# memcache
[com.openbet.openbet_builder.memcache]
build:no
remove:no
tag:no

[com.openbet.openbet_builder.otbuild]
build:no
remove:no
tag:no

# perfmon development environment
[com.openbet.openbet_builder.perfmon_dev]
remove:no
build:no
tag:no

# whether to do daily build, and which one
[com.openbet.openbet_builder.daily_build]
build:no
cust_dir:no-one
remove:no
tag:no


[com.openbet.openbet_builder.ssh_server]
build:no
remove:no
tag:no

[com.openbet.openbet_builder.subversion_login]
build:yes
remove:no
tag:no

[com.openbet.openbet_builder.composer]
build:no
remove:no
tag:no

[com.openbet.openbet_builder.cvs]
build:yes
remove:no
tag:no

[com.openbet.openbet_builder.openbet_basic]
build:yes
remove:no
tag:no

[com.openbet.openbet_builder.tcl]
build:no
remove:no
tag:no

[com.openbet.openbet_builder.openbet_ssh]
build:no
remove:no
tag:no

[com.openbet.openbet_builder.hills_postgres]
build:no
remove:no
tag:no

