# Details relating to the container itself
# Information specific to the host on which the container runs.
[host]
resources_dir:/home/shazleto/docker_resources
docker_executable:docker
shutit_module_paths:/home/shazleto/shutit_modules/openbet
dns:

[com.openbet.openbet_builder.appserv]
build:yes

#[com.openbet.openbet_builder.mysql]
#build:yes

[com.openbet.openbet_builder.postgres]
build:yes

[com.openbet.openbet_builder.hills_postgres]
build:yes

#[com.openbet.openbet_builder.informix]
#build:yes
#tag:yes
#version:11.70

#[com.openbet.openbet_builder.memcache]
#build:yes

#[com.openbet.openbet_builder.otbuild]
#build:yes

[com.openbet.openbet_builder.tcl]
build:yes
