.header {
	text-align: center;
}
.error_msg {
	text-align: center;
	color: rgb(202, 60, 60); /* this is a maroon */
}
.content {
	margin: 0 auto;
	padding: 0 2em;
	max-width: 800px;
	margin-bottom: 50px;
}
.pure-form-aligned {
	text-align: center;
}
.pure-form-aligned .pure-controls {
	margin: 0 auto;
}


